{% extends 'core/base.html' %}
{% load static %}

{% block title %}Início{% endblock %}

{% block links %}
{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Primary Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Warning Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Success Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <i class="fas fa-chart-area me-1"></i>
                            Carros disponíveis
                        </div>
                        <div class="col">
                            <form method="GET" action="{% url 'cars_list' %}" class="d-flex">
                                {% if model %}
                                    <input class="form-control me-2" name="model" type="text" placeholder="Buscar carro..." value="{{ model }}">
                                {% else %}
                                    <input class="form-control me-2" name="model" type="text" placeholder="Buscar carro...">
                                {% endif %}
                                <button class="btn btn-primary" type="submit">Buscar</button>   
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="max-height: 700px; overflow-y: auto;">
                    <div class="row">
                        {% if carros %}
                            {% for carro in carros %}
                                <div class="col-md-6 mb-4">
                                    <div class="card">
                                        {% if carro.photo %}
                                            <img class="card-img-top" src="{{ carro.photo.url }}" alt="{{ carro.model }} - {{ carro.brand }}">
                                        {% else %}
                                            <img class="card-img-top" src="not-image.jpg" alt="{{ carro.model }} - {{ carro.brand }}">
                                        {% endif %}
                                        <div class="card-body">
                                            <h5 class="card-title">{{ carro.model }}</h5>
                                            <p class="card-text">{{ carro.brand }}</p>
                                            <p class="card-text">{{ carro.value }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-md-12">
                                <p>Sem carros cadastrados</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Últimos carros cadastrados
                </div>
                <div class="card-body">
                    <p>Sem carros cadastrados</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}